* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

window#waybar {
    background-color: #1f2335;
    border-bottom: 3px solid #1a1b26;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
   background: inherit;
   box-shadow: inset 0 -3px #c0caf5;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: #737aa2;
}

#workspaces button.focused {
    background-color: #414868;
    box-shadow: inset 0 -3px #c0caf5;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#battery,
#cpu,
#memory,
#disk,
#temperature {
    padding: 0 3px;
    color: #ffffff;
}

#clock {
    margin-left: 10px;
    margin-right: 10px;
}

#battery {
    margin-left: 2px;
    margin-right: 2px;
}

#backlight {
    margin-left: 2px;
    margin-right: 2px;
}

#network {
    padding: 0 5px;
    color: #ffffff;
}

#bluetooth {
    padding: 0 7px;
    color: #ffffff;
}

#bluetooth.off {
    letter-spacing: -13px;
}

#bluetooth

#pulseaudio {
    padding: 0 2px;
}

#tray {
    padding: 5px;
}

#keyboard-state {
    margin-left: 5px;
}

#window,
workspaces {
    margin: 0 4px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f7768e;
}

#pulseaudio.muted {
    background-color: #414868;
    color: #c0caf5;
}

#temperature.critical {
    background-color: #f7768e;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #9ece6a;
    color: #1f2335;
    border-left: 1px solid #414868;
    border-right: 1px solid #414868;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-poweroff {
    padding: 0 5px;
    margin-right: 5px;
}

#custom-spotify {
    margin-left: 5px;
    padding: 0 10px;
    background-color: #1db954;
    border-left: 1px solid #191414;
    border-right: 1px solid #191414;
}
